h1{
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    
}

a{
    text-decoration: none;
    color: blue;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: aquamarine;
    padding: 12px;
    margin: auto;
}
img{
    width: 325px;
}
nav{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}